.CurveContainer {
	position: relative;
}

.CurveContainer > .Curve {
	position: absolute;
	/* `top` and `left` values must match Curve component's `offset` prop multiplied by negative 1 */
	top: -200px;
	left: -200px;
	z-index: 2;
	pointer-events: none;
}

.CurveContainer > .Guide {
	position: absolute;
	top: -200px;
	left: -200px;
	z-index: 1;
	pointer-events: none;
}

.CurveContainer > .Grid {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	pointer-events: none;
}

.CurveContainer > .ControlPointContainer {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
}
